{% extends 'base.html' %}

{% block title %}İletişim | Enka 360{% endblock %}

{% block content %}
  <!-- Contact Us -->
  <section class="contact-us" id="contact">
    <div class="wtform-container" style="background-color: #FFDADA;">
      <h1 class="section-heading">Bizimle iletişime geçin!</h1>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSffobf-_IFtn_K8KCtu7UpG_ZNrlPJ5DBe027xU17dlCl8sGw/viewform?embedded=true" width="640" height="943" frameborder="0" marginheight="0" marginwidth="0">Yükleniyor…</iframe>

    </div>
  </section>

{% endblock %}