{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}{{ post_type }} | Enka 360{% endblock %}

{% block content %}
<div class="wtform-container">
  <h1 class="section-heading">{{ post_type }}</h1>

  <div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class="flashes">
        {% for msg in messages %}
        <p style="color:red;">{{ msg }}</p>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

      {{ ckeditor.load() }}
      {{ ckeditor.config(name='body') }}
      {{ wtf.quick_form(form, novalidate=True, button_map={'submit': 'warning'}) }}
  </div>

</div>
{% endblock %}
